<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
	<meta charset="UTF-8" />
	<title>Caixinha 2021</title>
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="/css/style.css" />
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
	<!--<link type="text/css" rel="stylesheet" href="/css/materialize.min.css" media="screen,projection" />-->

</head>

<body>
	<header>
		<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
				aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse navbar-dark" id="navbarCollapse">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
						<a class="nav-link" href="/home/">Home <span class="sr-only">(atual)</span></a>
					</li>
					<li class="nav-item  active">
						<a class="nav-link" href="/pessoas/novo">Cadastro</a>
					</li>
					<li class="nav-item  active">
						<a class="nav-link " href="/pessoas">Cotistas</a>
					</li>
				</ul>
			</div>
		</nav>
	</header>
	<main role="main" class="container">
		<section layout:fragment="conteudo">
			<p>Conteúdo principal</p>
		</section>
	</main>
</body>
<!-- Footer -->
<section class="footer">
	<footer class="page-footer grey darken-4 text-center">
	<div class="footer-copyright">
            <div class="container">
            © 2021 Copyright Caixinha
          </div>
	</div>
	</footer>
</section>
<!-- Footer -->
<script src="/js/jquery-3.6.0.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery.mask.min.js"></script>
<script src="js/materialize.min.js"></script>


</html>