<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layoutPagina">

<section layout:fragment="conteudo">
	<div class="panel-body">
		<table class="table table-bordered">
			<thead class="thead-dark">
				<tr>
					<th class="col-4">Nome</th>
					<th class="col-2">Contato</th>
					<th class="col-4">Editar</th>
					<th class="col-4">Excluir</th>
					<th class="col-2">Depositar</th>
					<th class="col-2">Saldo</th>

				</tr>
			</thead>
			<tbody>
				<tr th:each="pessoa : ${pessoas}">
					<td th:text="${pessoa.nome}"></td>
					<td th:text="${pessoa.contato}"></td>
					<td class="text-center"><a class="btn btn-outline-primary" role="button"
							th:href="@{/pessoas/{id}(id=${pessoa.id})}" title="Editar" rel="tooltip"
							data-placement="top"><i class="fa fa-edit"></i>
					</td>
					<td class="text-center">
						<a class="btn btn-outline-danger" data-toggle="modal" data-target="#confirmacaoExclusaoModal"
							th:attr="data-codigo=${pessoa.id}, data-descricao=${pessoa.nome}" title="Excluir"
							rel="tooltip" data-placement="top">
							<i class="fa fa-ban"></i>
						</a>
					</td>
					<td class="text-center"><a class="btn btn-outline-success"
							th:href="@{/deposito/{id}(id=${pessoa.id})}" title="Depositar"><i
								class="fas fa-dollar-sign"></i></a></td>
					<td th:text="${pessoa.saldo}"></td>
				</tr>
				<tr>
					<td colspan="6" th:if="${#lists.isEmpty(pessoas)}">Nenhum título foi encontrado</td>
	   				</tr>
			</tbody>

		</table>
	</div>
	
		<div layout:include="DialogoConfirmacaoExclusao">
		
	</div>
</section>
</html>